 /*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 28, 2022, 6:04:56 PM
    Author     : webadill
*/

.block{
   /* background-color: purple; */
    width: 200px;
    height: 200px;
    padding: 20px;
/*    border: 20px solid blue;*/
   /* box-sizing: border-box; */
}

.static{
    position:static;
    border: 3px solid green;
    top:400px;
    left:500px;
}

.relative{
    position:relative;
    border: 3px solid lightpink;
    top:400px;
    left:500px;
    width: 200px;
    height: 200px;
}

.absolute{
    position:absolute;
    border: 3px solid red;
    top:400px;
    left:500px;
    width: 50px;
    height: 50px;   
}

.fixed{
    position:fixed;
    border: 3px solid red;
    top:150px;
    left:100px;
}
body div h1 img{
    margin-top: -20px;
    margin-left: 10px;
    max-height: 100px;
    max-width: 100px;
    
}
body div h2{
    margin-top: -100px;
    margin-left: 150px;
    max-height: 100px;
    max-width: 100px;
    
}